# General
PORT=3000
NODE_ENV=development
SERVER_URL=http://localhost:3000
# Database
MONGODB_URI=mongodb://localhost:27017/

# Mongoose Model Migration
MIGRATE_MODE=development
MIGRATE_MONGO_URI=mongodb://localhost:27017/
MIGRATE_AUTOSYNC=true

# CORS
CORS_ORIGIN=http://localhost:3000